@import bean.PagingInfo

@(pagedList: io.ebean.PagedList[AdminEntity], searchInfo: PagingInfo)

@navigator_panel = {
    @if(pagedList != null){
        <div>
            <span>@(searchInfo.getFirstRow() + 1) - @(searchInfo.getFirstRow() + searchInfo.getPageSize()) 件／@searchInfo.getTotalRow() 件</span>
            <button id="list-navigator-previous" class="list-navigator-previous" @if(!searchInfo.isMovePreviousPage()){ disabled }>Previous</button>
            <button id="list-navigator-next" class="list-navigator-next" @if(!searchInfo.isMoveNextPage()){ disabled }>Next</button>&nbsp;&nbsp;&nbsp;
            <input id = "filter" type="hidden" value="@searchInfo.toJsonString()">
        </div>
    }
}

@table_header = {
    <tr>
        <th>@Messages("admin.list.001")</th>
        <th>@Messages("admin.list.006")</th>
        <th>@Messages("admin.list.002")</th>
        <th>@Messages("admin.list.004")</th>
        <th>@Messages("admin.list.009")</th>
        <th>@Messages("admin.list.005")</th>
        <th>@Messages("admin.list.007")</th>
        <th>@Messages("admin.list.012")</th>
    </tr>
}

@table_content = {
    @if(pagedList != null) {
        @for(entity <- pagedList.getList) {
            <tr>
                <td><span>@entity.adminId</span></td>
                <td><span>@entity.activeStatus</span></td>
                <td><span>@entity.adminType</span></td>
                <td><span>@entity.name</span></td>
                <td><span>@entity.nameKana</span></td>
                <td><span>@entity.email</span></td>
                <td><span>@entity.branch</span></td>
                <td><span>...</span></td>
            </tr>
        }
    }
}

<div id="search_detail" class="modal-content">
    <table width="100%">
        <tbody>
            <tr>
                <td align="right" height="45px">@navigator_panel</td>
            </tr>
            <tr>
                <td align="center">
                    <table width="99%" border="1">
                        <thead>@table_header</thead>
                        <tbody>@table_content</tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" height="45px">
                    <div align="center"><span>略（@searchInfo.getPageSize() 件並べる）</span></div>
                </td>
            </tr>
            <tr>
                <td align="right" height="45px">@navigator_panel</td>
            </tr>
        </tbody>
    </table>
</div>
