@import helper._

<div id="search_content" class="modal-content">
    @CSRF.formField
    <table align="center">
        <tbody>
            <tr>
                <td><span>@Messages("admin.list.001")</span></td>
                <td width="350px"><input type="text" class="input-text" name="adminId" id ="adminId" size="20"></td>
                <td>@Messages("admin.list.006")</td>
                <td>
                    <select class="input-text" id="activeStatus" name="activeStatus">
                        <option class="blank" checked>Choose One</option>
                        <option value="1">Enable</option>
                        <option value="2">Disable</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>@Messages("admin.list.002")</td>
                <td>
                    <select class="input-text" id="adminType" name="adminType">
                        <option class="blank" value="">Choose One</option>
                        <option value="1">Item 01</option>
                        <option value="2">Item 02</option>
                        <option value="3">Item 03</option>
                    </select>
                </td>
                <td>@Messages("admin.list.007")</td>
                <td>
                    <select class="input-text" id="branch" name="branch">
                        <option class="blank" value="">Choose One</option>
                        <option value="1">Item 01</option>
                        <option value="2">Item 02</option>
                        <option value="3">Item 03</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>@Messages("admin.list.003")</td>
                <td><input type="text" class="input-text" id="companyName" name="companyName" value="" size="25"></td>
                <td>@Messages("admin.list.008")</td>
                <td><input type="text" class="input-text" id="username" name="username" value="" size="25"></td>
            </tr>
            <tr>
                <td>@Messages("admin.list.004")</td>
                <td><input type="text" class="input-text" id="name" name="name" value="" size="25"></td>
                <td>@Messages("admin.list.009")</td>
                <td><input type="text" class="input-text" id="nameKana" name="nameKana" value="" size="25"></td>
            </tr>
            <tr>
                <td>@Messages("admin.list.005")</td>
                <td><input type="text" class="input-text" id="email" name="email" value="" size="25"></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4" align="center" height="50px">
                    <input type="submit" value="@Messages("admin.list.010")">
                </td>
            </tr>
        </tbody>
    </table>
</div>